//Poner la principal font

html * {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $background;
    background-image: url("../../img/background.svg");
    background-repeat: no-repeat;
    background-size: 105% 100%;
}

body {
    overflow-x: hidden;
    font-size: 16px;
} 

main{
    margin-left: 15px;
    margin-left: 15px;
}